body, div, p, ul, ol, li, dl, dt, dd, form, table, tr, td, hr, h1, h2, h3, h4, h5, h6, img, input, fieldset {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.nav {
  width: 100%;
  height: 37px;
  background: #f1f1f1;
  border-bottom: 1px solid #ccc; }

.nav .nav-one {
  width: 1194px;
  height: 37px;
  margin: 0 auto; }

.nav-one .adress {
  float: left;
  width: 89px;
  height: 37px;
  font-size: 12px;
  color: #5e5e5e;
  line-height: 37px;
  padding-left: 6px;
  cursor: pointer; }

.nav-one .nav-list {
  height: 37px;
  float: right;
  line-height: 37px; }

.nav-list .login {
  padding-left: 0; }

.login span {
  color: #e54948; }

.nav-list a {
  font-size: 12px;
  color: #5e5e5e;
  padding-left: 20px;
  background: url(../img/gray.png) no-repeat 10px 3px;
  cursor: pointer; }

.nav-list a:nth-child(5):hover {
  text-decoration: none; }

.nav-list a:nth-child(6) {
  padding-left: 28px; }

.nav-list .call {
  color: #c7a774;
  font-weight: bold; }

.nav-list .yiyao {
  margin-left: 4px; }

.nav-list a:hover {
  color: #2e74a8;
  text-decoration: underline; }

.adress .yiyao {
  margin-left: 4px; }

.section {
  width: 281px;
  height: 340px;
  position: absolute;
  left: 35px;
  top: 37px;
  background: white;
  z-index: 14;
  border: 1px solid #ccc;
  border-top: none;
  float: left;
  display: none; }

.section a {
  height: 22px;
  font-size: 12px;
  display: block;
  margin-top: 2px;
  padding-left: 5px;
  color: #5e5e5e; }

.adress:hover .section {
  display: block; }

.adress:hover {
  background: white;
  border-bottom: none; }

.nav-list .select {
  width: 93px;
  height: 126px;
  float: right;
  position: absolute;
  top: 3px;
  right: 280px;
  font-size: 12px;
  border: 1px solid #ccc;
  text-align: center;
  display: none;
  z-index: 12;
  background: white;
  color: #ccc; }

.select li {
  height: 24px; }

.yiyaoweb:hover .select {
  display: block;
  border-top: none;
  background: white; }

.yiyaoweb:hover .select .select-one {
  color: #5e5e5e; }

.logo {
  width: 100%;
  height: 177px;
  border-bottom: 2px solid #d2b994; }

.logo .logo-put {
  width: 1194px;
  height: 177px;
  margin: 0 auto; }

.logo-put .inputs {
  height: 126px; }

.in-img {
  width: 180px;
  height: 61px;
  float: left;
  margin-left: 0;
  margin-top: 24px; }

.logo-put .search {
  width: 535px;
  height: 49px;
  margin-left: 314px; }

.forms {
  float: left;
  padding-top: 34px; }

.txt {
  float: left;
  width: 450px;
  height: 45px;
  border: 1px solid #c7a774;
  vertical-align: middle;
  border-right: none;
  text-indent: 12px;
  color: #858585;
  outline: none; }

.btn {
  float: left;
  width: 80px;
  height: 47px;
  border: 1px solid #c7a774;
  vertical-align: middle;
  background: white url(../img/search-1.png) no-repeat 28px 15px;
  font-size: 18px;
  outline: none; }

.bottom {
  height: 30px;
  text-align: center;
  line-height: 2;
  float: left; }

.bottom a {
  float: left;
  padding: 5px 5px;
  height: 30px;
  line-height: 30px;
  color: #999999;
  font-size: 12px;
  text-decoration: none; }

.bottom a:nth-child(6) {
  color: red; }

.bottom a:hover {
  color: red;
  text-decoration: underline; }

.code {
  width: 97px;
  height: 88px;
  background: red;
  float: right;
  margin-right: 165px;
  margin-top: -50px; }

.code img {
  width: 97px;
  height: 88px; }

.gouwu {
  width: 141px;
  height: 38px;
  background: white;
  border: 1px solid #ccc;
  float: right;
  margin-right: -261px;
  margin-top: -50px; }

.gouwu a {
  line-height: 38px;
  color: #5e5e5e;
  font-size: 14px;
  margin-left: 52px; }

.gouwu span {
  float: right;
  margin-right: 20px; }

.type {
  height: 51px;
  background: white; }

.type .type-left {
  width: 180px;
  height: 53px;
  background: #19323a;
  float: left; }

.type .type-left a {
  color: white;
  font-size: 14px;
  line-height: 50px;
  margin-left: 16px;
  font-weight: 600; }

.type-left a:hover {
  text-decoration: underline; }

.type-list {
  height: 51px;
  text-align: center;
  line-height: 51px;
  float: left; }

.type-list a:nth-child(1) {
  padding-left: 13px; }

.type-list a {
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
  color: #505050;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer; }

.type-list a:nth-child(1) {
  color: red; }

.type-list a:nth-child(4) {
  color: red; }

.type-list a:nth-child(8) {
  color: red; }

.type-list a:nth-child(9) {
  color: #864efe;
  background: url(../img/map.png) no-repeat 15px 0; }

.type-list .sot {
  margin-left: 4px; }

.type-list a:hover {
  color: #0083ce; }

.main {
  width: 100%;
  height: 400px; }

.main .main-center {
  height: 400px;
  width: 1194px;
  margin: 0 auto;
  border: 1px solid #d2b994;
  border-top: none; }

.main-center .main-left {
  position: realitive;
  width: 180px;
  height: 400px;
  background: #314349;
  float: left;
  list-style: none; }

.main-left a span {
  color: white;
  font-size: 12px; }

.main-left li:nth-child(1) {
  margin-top: 15px; }

.main-left li {
  margin-left: 17px;
  line-height: 28px;
  margin-top: 7px; }

.main-left li img {
  margin-right: 13px; }

.carousel {
  position: relative;
  width: 750px;
  height: 400px;
  overflow: hidden;
  float: left; }

.carousel img {
  vertical-align: bottom; }

.carousel-list {
  position: relative;
  width: 4500px; }

.carousel-list li {
  float: left; }

.direction-btn {
  display: none; }

.direction-btn a {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 30px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 30px;
  text-align: center;
  cursor: pointer; }

.prev {
  left: 0; }

.next {
  right: 0; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  padding: 0 10px;
  width: 140px;
  background: rgba(255, 255, 255, 0.5);
  line-height: 0;
  font-size: 0;
  border-radius: 12px; }

.dots a {
  margin: 6px 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #929180;
  border-radius: 50%; }

.dots .active {
  background: #3e535a; }

.main-right {
  width: 260px;
  height: 400px;
  background: white;
  float: right; }

.main-right .main-express {
  width: 260px;
  height: 33px; }

.main-right .main-express a {
  line-height: 33px; }

.main-express a:nth-child(1) {
  margin-left: 54px;
  text-decoration: underline;
  color: #dfba74; }

.main-express a:nth-child(2) {
  margin-left: 27px;
  color: #5e5e5e; }

.main-right .main-three {
  width: 260px;
  height: 133px; }

.main-three .main-s a {
  float: left;
  font-size: 12px;
  display: block;
  width: 72px;
  height: 25px;
  color: #707070; }

.main-three .main-s a:hover {
  text-decoration: underline; }

.main-three .main-s a img {
  margin-left: 4px; }

.main-three .main-s {
  height: 133px;
  padding-left: 23px; }

.main-img img {
  margin-left: 17px;
  border-radius: 10px; }

.main-right .ads {
  width: 259px;
  height: 40px; }

.ads a {
  line-height: 40px; }

.ads a:nth-child(1) {
  margin-left: 54px;
  text-decoration: underline;
  color: #dfba74; }

.ads a:nth-child(2) {
  margin-left: 27px;
  color: #5e5e5e; }

.zj {
  width: 259px;
  height: 91px; }

.zj .zj-t {
  height: 91px;
  padding-left: 18px;
  background: white; }

.zj a img {
  display: block; }

.zj a {
  display: block;
  width: 60px;
  height: 60px;
  margin-top: 15px;
  float: left; }

.zj a span {
  font-size: 12px;
  color: #c7a774; }

.time {
  width: 100%;
  height: 150px;
  margin-top: 10px; }

.time .time-four {
  width: 1195px;
  height: 150px;
  margin: 0 auto; }

.time-four .time-ock {
  width: 180px;
  height: 150px;
  background: #967783;
  float: left; }

.ock {
  width: 52px;
  height: 52px; }

.ock img {
  margin: 30px 59px; }

.time-ock p {
  margin-left: 45px;
  margin-top: 50px;
  color: white; }

.time-ock p span {
  font-size: 12px; }

.wm {
  width: 1194px;
  height: 90px;
  margin: 10px auto; }

.family {
  width: 100%;
  height: 487px;
  margin-top: 30px; }

.family-main {
  width: 1195px;
  height: 487px;
  margin: 0 auto;
  border-top: 2px solid #92c4ff; }

.family-left {
  width: 181px;
  height: 486px;
  float: left;
  border-left: 1px solid #f3f3f3; }

.family-left .family-often {
  width: 180px;
  height: 86px;
  background: #f8f8f8; }

.family-often span {
  color: #92c4ff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-list {
  width: 180px;
  height: 400px; }

.family-list li {
  width: 90px;
  height: 50px;
  float: left;
  background: white;
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  box-sizing: border-box; }

.family-list li a {
  font-size: 14px;
  line-height: 50px;
  color: #5e5e5e;
  margin-left: 30px; }

.family-list li a:hover {
  color: red;
  text-decoration: underline; }

.family-center {
  width: 1012px;
  height: 285px;
  float: left; }

.fm {
  position: relative;
  width: 605px;
  height: 284px;
  overflow: hidden;
  float: left; }

.carousel img {
  vertical-align: bottom; }

.carousel-list {
  position: relative;
  width: 1815px; }

.carousel-list li {
  float: left; }

.direction-btn {
  display: none; }

.direction-btn a {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 30px;
  line-height: 60px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 30px;
  text-align: center;
  cursor: pointer; }

.prev {
  left: 0; }

.next {
  right: 0; }

.thre {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  padding: 0 8px;
  width: 80px;
  background: rgba(255, 255, 255, 0.5);
  line-height: 0;
  font-size: 0;
  border-radius: 12px; }

.dots a {
  margin: 6px 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #929180;
  border-radius: 50%; }

.dots .active {
  background: #3e535a; }

.fm-right {
  width: 406px;
  height: 284px;
  float: right; }

.family-btm {
  width: 1012px;
  height: 200px;
  border-bottom: 1px solid #f3f3f3;
  float: left; }

.family-btm ul {
  width: 1012px;
  height: 200px; }

.family-btm ul li {
  width: 202px;
  height: 200px;
  background: white;
  float: left;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #f3f3f3; }

.family-btm ul li img {
  margin: 30px 54px 0 54px; }

.family-btm ul a {
  display: block;
  font-size: 16px;
  color: #333333;
  margin-top: 10px; }

.family-btm ul a:hover {
  color: red;
  text-decoration: underline; }

.family-btm ul p {
  margin-top: 5px;
  color: #e72418; }

.family-left .second {
  width: 180px;
  height: 86px;
  background: #ffa27a; }

.second span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.sugar {
  width: 1194px;
  height: 90px;
  margin: 10px auto; }

.family-left .three {
  width: 180px;
  height: 86px;
  background: #ff6b6b; }

.three span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.thre-f {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  padding: 0 8px;
  width: 55px;
  background: rgba(255, 255, 255, 0.5);
  line-height: 0;
  font-size: 0;
  border-radius: 12px; }

.family-left .four-f {
  width: 180px;
  height: 86px;
  background: #f6c89e; }

.four-f span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-list li .f-img {
  margin-left: 3px; }

.family-left .five-f {
  width: 180px;
  height: 86px;
  background: #aee177; }

.five-f span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-list li .f-img {
  margin-left: 1px; }

.five-car {
  width: 605px;
  height: 284px;
  float: left; }

.family-left .six {
  width: 180px;
  height: 86px;
  background: #ffacd0;
  color: white; }

.six span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-left .six:hover {
  background: #f8f8f8; }

.six span:hover {
  color: #ffacd0; }

.family-left .seven-f {
  width: 180px;
  height: 86px;
  background: #cac3f2; }

.seven-f span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-left .seven-f:hover {
  background: #f8f8f8; }

.seven-f span:hover {
  color: #cac3f2; }

.family-left .eight {
  width: 180px;
  height: 86px;
  background: #fcb0c0; }

.eight span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-left .eight:hover {
  background: #f8f8f8; }

.eight span:hover {
  color: #fcb0c0; }

.family-left .night {
  width: 180px;
  height: 86px;
  background: #cac3f2; }

.night span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-left .night:hover {
  background: #f8f8f8; }

.night span:hover {
  color: #cac3f2; }

.family-left .ten {
  width: 180px;
  height: 86px;
  background: #16f0cf; }

.ten span {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-left: 22px;
  line-height: 80px; }

.family-left .ten:hover {
  background: #f8f8f8; }

.ten span:hover {
  color: #16f0cf; }

.tab {
  width: 1195px;
  height: 170px;
  margin: 20px auto;
  background: pink;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  position: relative; }

.tab .menu {
  height: 34px;
  background: #f8f8f8;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden; }

.tab .menu li {
  float: left;
  width: 179px;
  line-height: 34px;
  text-align: center;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  cursor: pointer; }

.tab .menu .active {
  border-top-color: #e6e6e6;
  background: white;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom-color: #e6e6e6; }

.panel a {
  display: block;
  width: 110px;
  height: 46px;
  float: left;
  background: white;
  margin-left: 9px;
  margin-top: 12px; }

.tab .panel a img {
  margin-left: 20px; }

.tab .active {
  display: block;
  z-index: 1; }

.tab .panel {
  width: 1195px;
  height: 136px;
  position: absolute;
  left: 0;
  top: 35px;
  background: white; }

.tab div:nth-of-type(2) a {
  width: 128px;
  height: 26px;
  font-size: 12px;
  color: #666666;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  display: block; }

.golds-fou {
  width: 100%;
  height: 180px;
  background: #f0f0f0;
  margin-top: 80px; }

.golds-center {
  width: 1195px;
  height: 168px;
  margin: 0 auto; }

.golds-center ul {
  width: 1112px;
  height: 150px;
  margin-left: 40px; }

.golds-center ul li {
  width: 278px;
  float: left;
  text-align: center;
  padding-top: 30px; }

.golds-center ul li img {
  margin: 0 auto;
  display: block; }

.golds-center ul li span {
  font-size: 14px;
  color: #333;
  font-weight: 600; }

.golds-center ul li p {
  font-size: 14px;
  color: #909090; }

.golds-center ul li:hover {
  opacity: 1;
  transition: all 1s;
  animation: moves 400ms 1; }

@keyframes moves {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

.client {
  width: 100%;
  height: 148px;
  margin-top: 50px; }

.client .client-img {
  width: 1195px;
  height: 148px;
  margin: 0 auto; }

.client-img ul {
  width: 1195px;
  height: 148px; }

.client-img ul li {
  width: 383px;
  height: 148px;
  margin-left: 15px;
  float: left;
  background: #f0f0f0; }

.client-img ul li .cl-code {
  width: 180px;
  height: 111px;
  float: right;
  lin-height: 111px;
  margin: 24px 30px 24px 0; }

.client-img ul li img {
  margin: 24px 0 24px 40px; }

.client-img .cl-code h4 {
  color: #c7a774; }

.client-img .cl-code p {
  color: #707070;
  font-size: 12px; }

.serve {
  width: 100%;
  height: 220px;
  margin-top: 10px; }

.serve-main {
  margin: 0 auto;
  width: 1194px;
  height: 220px;
  background: white; }

.serve-main dl {
  width: 130px;
  margin: 28px 10px 0 4px;
  float: left;
  display: inline; }

.serve-main dl:nth-child(1) {
  padding-left: 40px; }

.serve-main dl dt {
  color: #5e5e5e;
  font-weight: 600;
  margin-bottom: 8px; }

.serve-main dl dd {
  line-height: 26px;
  font-size: 12px;
  color: #999999;
  cursor: pointer; }

.serve-main dl dd:hover {
  text-decoration: underline; }

.se-call {
  width: 286px;
  height: 96px;
  backhround: red;
  text-align: center;
  border-left: 1px solid #eeeeee;
  margin-top: 28px;
  float: right; }

.se-call p:nth-child(1) {
  margin-top: 20px;
  color: #c7a774;
  font-weight: 600;
  font-size: 18px; }

.se-call p:nth-child(2) {
  color: #999999;
  font-size: 12px; }

.foot {
  width: 100%;
  height: 118px; }

.foot .foot-one {
  width: 1195px;
  height: 118px;
  margin: 0 auto;
  padding-top: 13px; }

.foot-one p {
  width: 1195px;
  height: 24px;
  text-align: center; }

.foot-one p a {
  padding-left: 8px;
  font-size: 12px;
  color: #5e5e5e;
  background: url(../img/foot-01.png) no-repeat 2px 2px; }

.foot-one p a:hover {
  text-decoration: underline; }

.foot-one p a:nth-child(1) {
  background: none; }

.foot-img {
  width: 1195px;
  height: 50px;
  margin-top: 10px; }

.foot-img img {
  margin: 0 auto;
  padding-left: 2px; }

.foot-pl {
  width: 1195px;
  height: 47px;
  margin: 18px auto 0;
  text-align: center; }

.foot-pl p {
  font-size: 12px;
  color: #5e5e5e; }

.foot-pl p a {
  color: #333333;
  cursor: pointer; }

.foot-pl p a:hover {
  color: red;
  text-decoration: underline; }

.foot-last {
  width: 1195px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  color: #5e5e5e; }

.foot-last a {
  margin-left: 10px;
  padding-left: 30px;
  font-size: 12px;
  color: #333333;
  background: url(../img/last-01.png) no-repeat 0 0; }

.foot-last a:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer; }

.slide {
  width: 52px;
  height: 204px;
  border: 1px solid #e6e6e6;
  float: right;
  position: fixed;
  bottom: 10px;
  right: 35px;
  z-index: 14;
  background: white; }

.slide a {
  display: block;
  width: 50px;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center; }

.slide a span {
  width: 50px;
  height: 50px;
  display: block;
  font-size: 14px;
  color: white;
  font-weight: 600;
  display: none; }

.slide .slide-last {
  border: none; }

.slide a img {
  margin: auto; }
