// 公共部分顶部
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,hr,h1,h2,h3,h4,h5,h6,img,input,fieldset{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;


}
ul{
	list-style:none;
}
.buy-goods{
	width:100%;
	height:31px;
	background:#f8f8f8;
	border:1px solid #b6b4b6;
}
.buy-goods .goods-nav{
	width:985px;
	height:31px;
	// background:pink;
	margin:0 auto;

}
// 导航左边部分
.goods-nav .nav-left{
	width:278px;
	height:31px;
	float:left;
	// background:red;

}
.nav-left ul{
	width:278px;
	height:31px;
}
.nav-left ul{
	li{
		float:left;
		line-height:31px;
		padding-left:4px;
		height:31px;
	}
}
.nav-left ul{
	li{
		a{

			
			font-size:12px;
			color:#5e5e5e;
		}
	}
}
.nav-left ul{
	.nav-li{
			
			background:url(../img/g-five.png)no-repeat 1px 11px;
	}
}
.nav-left ul .nav-li a{
	margin-left:16px;
} 
.nav-left ul .line{
		color:#e7e7ea;

}
.nav-left ul li{
	.nav-mobie{
		padding-left:15px;
		background:url(../img/mobie-03.png)no-repeat 1px 1px;
	}
}
.nav-left ul li .sent-gos{
	padding-left:15px;
	// background:url(../img/car.png)no-repeat 1px 1px;

}
.nav-left ul li .sent-gos{
	span{
		cursor:pointer;
		background:white;
		border:1px solid #dddddd;
	}
}
// .sent-gos .section{
// 	width:281px;
// 	height:340px;
// 	position: absolute;
// 	left:35px;
// 	top:37px;
// 	background:white;
// 	z-index:14;
// 	border:1px solid #ccc;
// 	border-top:none;
// 	float:left;
// 	// display:none;
// }

// .sent-gos .section{
// 	a{	height:22px;
// 		font-size:12px;
// 		display:block;
// 		padding-top:2px;
// 		padding-left:5px;
// 	}
// }
.nav-left ul li .car{
	width:28px;
	background:blue;
	height:19px;
	float:right;
	margin-top:9px;
	margin-left:6px;
	background:url(../img/car.png)no-repeat 0px 0px;
}

// 导航右边部分
.goods-nav .nav-right{
	width:388px;
	height:31px;
	float:right;
	// background:yellow;
}
.nav-right{
	.login{
		background:none;
		padding-left:0;
	}
}
.login{
	span{
		color:#e54948;
	}
}
.nav-right{
	a{
		font-size:12px;
		color:#5e5e5e;
		padding-left:20px;
		background:url(../img/gray.png) no-repeat 10px 3px;
		cursor: pointer;
		line-height:31px;
	}
}
.nav-right a:nth-child(5):hover{
	text-decoration:none;
	
}
.nav-right a:nth-child(6){
	padding-left:28px;
}
.nav-right{
	.call{
		color:#c7a774;
		font-weight:bold;
	}
}

.nav-right .yiyao{
	margin-left:4px;
}
.nav-right a:hover{
	color:#2e74a8;
	text-decoration:underline;
}
.nav-right{
	.select{
		width:93px;
		height:126px;
		float:right;
		position:absolute;
		top:3px;
		right:291px;
		font-size:12px;
		border:1px solid #ccc;
		text-align:center;
		display:none;
		z-index:12;
		background:white;
		color:#ccc;
	}
}
.select li{
	height:24px;
}
.yiyaoweb:hover .select{
	display:block;
	border-top:none;
	background:white;
}
.yiyaoweb:hover .select .select-one{
	color:#5e5e5e;
}
// logo图部分
.logo-nav{
	width:985px;
	height:100px;
	// background:green;
	margin:20px auto;
}
.logo-nav .logo-img{
	display:inline-block;
	width:180px;
	height:61px;
	background:url(../img/logo_01.png)no-repeat -29px 1px;

}
.logo-nav .logo-left{
	width:570px;
	height:32px;
	background:#f3f3f3;
	float:right;
	margin-top:10px;
}
.logo-left ul{
	width:570px;
	height:32px;
}
.logo-left ul{
	li{
		width:190px;
		height:32px;
		float:left;
		position: relative;

	}
}
.logo-left ul li{
	a{
		font-size:12px;
		color:white;
		display:block;
		width:175px;
		height:32px;
		text-align:center;
		line-height:32px;
		background:#0083ce;
		
	}
}
.logo-left ul li{
	span{
		display: block;
		position: absolute;
		left:175px;
		top:0px;
		width:0;
		height:0;
		border:16px solid transparent;
		border-left-color:#0083ce;
	}
}
.logo-left .three-left{
	color:#a5a5a5;
	background:#f3f3f3;
	background:url(../img/left-03.png)no-repeat 134px 1px;
}
.logo-left .three-left.active{
	background:none;
}
.list-goods{
	width:985px;
	height:26px;
	margin:0 auto;
	// background:red;
}
.list-goods ul{
	width:985px;
	height:26px;
	
}
.list-goods ul{
	li{
		float:left;
		line-height:26px;
	}
}
.list-goods ul a{
	line-height:26px;
	float:right;
}
.list-goods ul .list-price{
	float:left;
}
.list-goods ul .need{
	margin-left:12px;
	color:#5e5e5e;
}
.list-goods ul .my-goods{
	color:#0083ce;
	border-bottom:1px solid #0083ce;
}
.list-goods ul .list-price{
	font-size:12px;
	color:#a5a5a5;
	margin-left:568px;
}
.list-goods ul {
	a{
		display:block;
		width:38px;
		height:20px;
		background:red url(../img/list-04.png)no-repeat 29px 8px;
		font-size:14px;
		color:white;
		line-height:20px;
		margin-top:4px;
	}
}
.car-message{
	width:984px;
	height:240px;
	// bacKground:pink;
	margin:0 auto;
}
.car-message{
	.select-car{
		height:36px;
		border:1px solid #dbdbdb;
		background:#f3f3f3;
}
	}
.select-car	.select-ul{
	width:984px;
	height:36px;
	text-align:center;
}
.select-car	.select-ul li{
	float:left;
	color:#696969;
	font-size:12px;
	height:36px;
	line-height:36px;
}

.select-car .select-ul{
		.all-check{
			width:62px;
			margin-left:0px;

		}
	}
	.select-car .select-ul{
		.all-check{
				
					.all-input{
						width:13px;
						height:13px;
						margin-left:-9px;
						// margin-top:2px;
						background-color:red;
					}
			}
		}
	

	.select-car{
		.gods-msg{
			width:290px;
			
		}
	}
	.select-car{
		.gods-price{
			width:100px;
			
		}
	}
	.select-car{
		.gods-account{
			width:115px;
			
		}
	}
	.select-car{
		.gods-weight{
			width:70px;
			
		}
	}
	.select-car{
		.gods-cout{
			width:115px;
			margin-left:125px;
			
		}
	}				
.select-car{
		.gods-make{
			width:89px;
			
		}
	}
	.car-message{
		.car-store{
			height:184px;
			// background:red;
			margin-top:10px;
			border:1px solid #dbdbdb;

}
	}
.car-store .store-name{
	height:38px;
	line-height:38px;
	font-size:14px;
	color:#666666;
	background:#f3f3f3;

	}
	.car-store .store-name label{
		input{
			width:13px;
			height:13px;
			background:none;
			margin-left:5px;

		}
	}
.car-store .store-ct{
	width:984px;
	height:83px;
	background:#eaf9ff;
	border-bottom:1px solid #d1e9f2;
}
.car-store .store-ct ul{
	height:83px;
	

}
.car-store .store-ct ul li{
	float:left;
}
.car-store .store-ct ul{
	.store-check{
		width:44px;
		height:82px;
		// background:blue;
	}
}
.store-check{
	input{
		margin-top:30px;
		margin-left:8px;
	}
}
.car-store .store-ct ul{
	.store-img{
		width:308px;
		height:82px;
		// background:pink;


	}
}
.store-img img{
	display:block;
	float:left;
	margin-top:8px;
}
.store-img a{
	line-height:35px;
	margin-left:8px;
	color:#333333;
	
}
.store-img p{
	display:inline-block;
	padding-left:8px;
	line-height:10px;
	color:#a5a5a5;
}
.store-img p{
	span{
		color:#0083ce;
	}
}
.car-store .store-ct ul{
	.li-price{
		width:100px;
		height:82px;
		text-align:center;
		line-height:46px;
	}
}
.car-store .store-ct ul{
	.li-amount{
		width:115px;
		height:82px;
		text-align:center;
		// line-height:82px;

	}
}
.car-store .store-ct ul{
	.li-amount{
		.li-add{
			width:90px;
			height:21px;
			// background:red;
			float:left;
			margin-top:16px;
		}
	}
}
.car-store .store-ct ul{
	.li-amount{
		.li-add{
			.add-input{
				width:20px;
				height:20px;
			}
		}
	}
}
.add-input{
	vertical-align: bottom; 
	
}

.car-store .store-ct ul{
	li{
		font-size:12px;
	}
}
.car-store .store-ct ul{
	.li-weight{
		width:70px;
		height:82px;
		text-align:center;
	line-height:46px;
	}
}
.car-store .store-ct ul{
	.li-location{
		width:137px;
		height:82px;
		text-align:center;
	line-height:46px;
	}
}
.car-store .store-ct ul{
	.li-sum{
		width:115px;
		height:82px;
		text-align:center;
		line-height:46px;
		color:red;
	}
}
.car-store .store-ct ul{
	.li-delete{
		width:89px;
		height:82px;
		text-align:center;
		line-height:46px;
	}
}
.car-store .store-ct ul{
	.li-delete{
		a{
			display:block;
			width:89px;
			height:18px;
			color:#a5a5a5;
		}
	}
}
.car-store .store-ct ul .li-delete a:hover{
	color:#0083ce;
	text-decoration:underline;
}
.cart-foot{
	height:61px;
	width:984px;
	background:#f3f3f3;
}
.cart-foot ul{
	width:312px;
	height:61px;
	// background:blue;
	float:right;
}
.cart-foot ul li{
	float:left;
	width:78px;
	height:41px;
	line-height:30px;
	text-aliggn:center;
	font-size:14px;
	color:#666666;
}
.cart-foot ul li{
	span{
		display:inline-block;
		color:red;
	}
}
// 结算
.jiesuan{
	width:984px;
	height:62px;
	background:#f8f8f8;
	margin-top:15px;
	border:1px solid #dbdbdb;
}
.jiesuan ul{
	width:179px;
	height:36px;
	float:left;
	// background:red;
	line-height: 1.5;
padding:19px 10px 0 0;

}
.jiesuan ul{
	li{
		margin-left:6px;
		float:left;
		color:#5e5e5e;
		font-size:12px;


	}
}
.jiesuan p{
	width:470px;
	height:55px;
	// background:yellow;
	line-height:50px;
	float:left;
}
.jiesuan p{
	span{
		color:#5e5e5e;
		font-size:12px;
		margin-left:10px;
	}
}
.jiesuan p .all-price{
	font-size:14px;
}
.jiesuan .contiue-shop{
	width:260px;
	height:53px;
	// background:green;
	float:right;
	margin-top:8px;
	margin-right:10px;
}
.contiue-shop .jx-shop{
	text-align:center;
	float:left;
	width:126px;
	height:41px;
	line-height:40px;
	border:1px solid red;
	color:red;
}
.contiue-shop .jx-shop:hover{
	background:red;
	color:white;
}
.contiue-shop .go-acu{
	float:right;
	width:128px;
	display:block;
	height:42px;
	background:red;
	text-align:center;
	line-height:40px;
	color:white;
	font-weight:600;

}
.else{
	height:255px;
	width:984px;
	// background:red;
	margin-top:20px;
	border:1px solid #dbdbdb;
}
.else-top{
	color:#0083d7;
	line-height:41px;
	text-indent:12px;
	height:41px;
	background:white;
	font-weight:600;
	border-bottom:1px solid #dbdbdb;
}
.else ul{
	width:984px;
	height:245px;

}
.else ul img{
	display:block;
	width:145px;
	height:145px;
	margin-left:6px;
}
.else ul li{
	width:145px;
	height:233px;
	float:left;
	margin-left:10px;
	text-align:center;

}
.else ul li{
	a{
		font-size:12px;
		color:#333333;
	}
}
.else ul li{
	span{
		font-size:12px;
		color:red;
	}
}
.resgint-foot{
	width:980px;
	height:65px;
	margin:30px auto;
	// background:red;
	text-align:center;
}
.resgint-foot a{
	color:#666666;
	font-size:12px;
	padding-left:8px;
	height:14px;
	background:url(../img/ft-01.png)no-repeat 0px 3px;
}
.resgint-foot a:hover{
	color:#0099f1;
	text-decoration:underline;
}
.resgint-foot .resgint-foot01{
	background:none;
}
.resgint-foot p{
	color:#666666;
	margin-top:6px;
	font-size:12px;
}

	

